
<form action="/dashboard/addplacemark" method="POST">

  <div class="field">
    <label class="label">Stadium Name</label>
    <input class="input" type="text" placeholder="Enter stadium name" name="name">
  </div>

  <div class="field">
    <label class="label">Description</label>
    <input class="input" type="text" placeholder="Concert details" name="description">
  </div>

  <div class="field">
    <label class="label">Category</label>
    <input class="input" type="text" placeholder="Region" name="category">
  </div>

  <div class="field">
    <label class="label">Latitude</label>
    <input class="input" type="number" step="any" name="lat">
  </div>

  <div class="field">
    <label class="label">Longitude</label>
    <input class="input" type="number" step="any" name="lng">
  </div>

  <div class="field">
    <label class="label">Attendance</label>
    <input class="input" type="number" name="attendance">
  </div>

  <button class="button is-link">Add Placemark</button>

</form>